#gitignore
**Yvonne (Vonn) Ng's gitignore file for A1_git_python**
I thought *gitignore* was pronounced *giti-gnore* or *gitig-nore* 
but realized it's actually *git-ignore*.
I don't even know what that means. 
